include AUTHORS.rst
include CHANGES.rst
include LICENSE.txt
include MANIFEST.in
include README.rst
include TODO.rst
recursive-include adminfiles *.png *.css *.js *.gif *.html *.mo *.po
recursive-include adminfiles/migrations *
