{% extends "admin/base.html" %}
{% load url from future %}
{% load thumbnail %}
{% load i18n %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ ADMINFILES_STATIC_URL }}adminfiles/adminfiles.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" src="{{ JQUERY_URL }}"></script>
    <script type="text/javascript" charset="utf-8">
        var FIELD = parent.document.getElementById('{{field_id}}');
        var START = "{{ ADMINFILES_REF_START|safe }}";
        var END = "{{ ADMINFILES_REF_END|safe }}";
    </script>
    <script type="text/javascript" src="{{ ADMINFILES_STATIC_URL }}adminfiles/adminfiles.js"></script>

{% endblock %}
{% block bodyclass %}adminfiles{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block userlinks %}{% endblock %}
{% block content %}
<div id="adminfiles-filter" class="clearfix">
  <ul>

  <li>
      <select id="browser">
      {% for browser in browsers %}
            <option value="{{ browser.url }}?field={{field_id}}"
                    {% if content_type == browser.content_type %}selected="selected"{% endif %}>{{ browser.link_text }}</option>
      {% endfor %}
        </select>
  </li>

  <li class="upload link">
    <a href="{% url add_url %}" class="addlink" id="add_id_uploads" onclick="return showAddUploadPopup(this);">{% trans "Upload" %}</a>
  </li>
  <li class="link">
    <a id="refresh" href="#"><img src="{{ADMINFILES_STATIC_URL}}adminfiles/icon_refreshlink.gif" /> {% trans "Refresh" %}</a>
  </li>
</div>

<ul id="adminfiles" class="clearfix">
{% block files %}
{% for f in files %}
   <li class="item {{f.content_type}} {{f.sub_type}}"
   {% with thumb=f.image_thumb %}
      style="background-image:url({{ thumb }});"
   {% endwith %}
      >
       <div class="popup">
           <a href="#" class="close" title="Close">X</a>
           <ul>
         {% ifequal field_type "select" %}
         <li><a class="select" href="{{f.upload.url}}" rel="{{f.id}}" title="{{f.title}}">{% trans "Select" %}</a></li>
         {% else %}
             {% for link in f.insert_links %}
             <li>
               <a class="insert" href="{% spaceless %}
                  {% if f.upload %}
                    {{ f.upload.url }}
                  {% else %}
                    {{ f.link }}
                  {% endif %}
                  {% endspaceless %}" rel="{{ link.ref }}">
                 {{ link.desc }}
               </a>
             </li>
             {% endfor %}
         {% endifequal %}
           </ul>
           <a href="{% url delete_url f.id %}" class="deletelink" id="ddd" onclick="return showEditPopup(this);">{% trans "Delete" %}</a>
           <a href="{% url change_url f.id %}" class="changelink" id="eee" onclick="return showEditPopup(this);">{% trans "Change" %}</a>
       </div>
       <div class="upload-title">{{f.title}}<br />
         <small>{{f.upload_date|date:"F j, Y"}}</small><br />
         <span class="description">{{f.description}}</span><br /></div>
   </li>
   {% endfor %}
{% endblock %}
</ul>
{% endblock %}
