html, body{
    height:100%;
    width:100%;
}
#container { margin: 0; min-width: 0; min-height: 0;  overflow: hidden; height: 100%; }
#content { margin:0; height: 100%; position: relative; overflow: hidden; }
#user-tools { display:none; }
#footer { display:none; }

#adminfiles .nav {
    list-style-type:none;
    width:100%;
    height: 2em;
}

#adminfiles .nav .next {
    float:right;
}

#adminfiles .nav .prev {
    float:left;
}

#adminfiles {
    position: relative;
    overflow-x: hidden;
    height: 80%;
    width: 100%;
}

.item { 
    float:left; 
    overflow:hidden; 
    border:1px solid #ccc;
    background:#fafafa url(mimetypes/empty.png) no-repeat 41px 70px; 
    text-align:center; 
    cursor:pointer; 
    width:144px; 
    height:150px; 
    margin:0 11px 12px 0;
}

.upload-title { 
    background:#fff; 
    opacity:0.8;
}

.popup { 
    position:absolute; 
    z-index:100; 
    opacity:0.9; 
    background:#eee; 
    width:126px; 
    height:120px; 
    padding:5px; 
    display:none; 
    text-align:left; 
    margin:15px 0 0 3px; 
    border:1px solid #aaa; 
    border-top-color:#ddd; 
    border-left-color:#ddd; 
}

.popup ul { padding:0; }
.popup li { list-style-type:none; }
.popup .close { float:right; color:#CC3434; }
.popup input { width:116px; }
.popup .deletelink { position: absolute; left: 5px; bottom: 10px; }
.popup .changelink { position: absolute; right: 5px; bottom: 10px; }

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

#adminfiles-filter { 
    width:100%;
    background: url(img/nav-bg-reverse.gif) repeat-x scroll left top #ffffff;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    top: 0;
}

#adminfiles-filter li {
    float: left;
    margin-right: 10px;
    list-style-type:none;
}

#adminfiles-filter ul, #adminfiles {
    padding: 0;
    margin: 0;
}

.link {
    margin-top: 6px;
}

.item.link {
  margin-top: 0;
}
        
/* mimetypes, icons from Nuvola */
.image, .video, .youtubelink { 
    background-image:none; 
    background-position:center bottom; 
}

.pdf { background-image:url(mimetypes/pdf.png); }
.msword { background-image:url(mimetypes/doc.png); }
.vndms-excel { background-image:url(mimetypes/xls.png); }
.zip, .x-tar { background-image:url(mimetypes/zip.png); }
    
